html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
@font-face {
  font-family: "Computer-Modern";
  src: url("/fonts/Computer-Modern.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
